body, html {
  height: 100%;
  margin: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust width and height as needed */
    height: 100%; /* Adjust width and height as needed */
    z-index: -1000;
  /* The image used */
    background-image: url('assets/titleSlide.png');

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  
}

#start{
    position: fixed;
    display: block;
    width: 200px;
    height: 50px;
    background: linear-gradient(to top, rgb(0, 0, 255), rgb(83, 83, 255), rgb(180, 180, 255));
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border: 2px solid white;
}
#start:hover{
  background: linear-gradient(to bottom, blue, rgb(0, 0, 149), blue);
  text-shadow: 0 0 10px #fff, 0 0 20px #ff0, 0 0 30px #ff0;
  border: 2px solid #ffa;
}
.button{
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight:bold;
  color: white;
}
#about {
    position: absolute;
    top: 0vh;
    right: 0vh;
}
